:root {
    --deepBlack: #151515;
    --waterGreen: #4ee1a0;
    --darkGrey: #242424;
    --lightGrey: #d9d9d9;
    --white: #fff;
}

/*
Tipografia 
                    Font family, Font size, space between char
 Heading XL (H1) - Space Grotesk Bold, 88px, espaçamento entre caracteres: -2.5px ;
 Heading L(h2) - Space Grotesk Bold, de 48 a 56px, espacemento entre caracteres: -1.5px;
 Heading M (h3)- Space Grotesk Bold, 24 a 32px.
 Body(o resto dos textos)- Space GrotestBold , de 18/28.
 */

/* Font esta na pasta /assets/fonts */

/* All rule  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--deepBlack);
    font-family: "Space Grotesk", sans-serif !important;
    color: var(--white);
}

.break-lines {
    display: none;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.header__logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img {
    background: url("../assets/images/image-profile-mobile.webp");
    background-size: cover;
    background-position: center;
    width: 174px;
    height: 383px;
    position: relative;
    z-index: -1;
}
#top-rings {
    position: absolute;
    top: 124px;
    left: -342px;
    z-index: -1 !important;
}
#top-circle {
    position: absolute;
    top: 0;
    /* background-color: purple; */
    z-index: 1;
    right: -64px;
}

.header__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px auto 10px;
}
.header__nav p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.33px;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 18px;
    margin-top: 20px;
}

.nav__list a {
    width: 19.2px;
    height: 19.2px;
}

.header__intro {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-top: 40px;
}

.intro__title {
    display: flex;
    flex-wrap: wrap;
}

.intro__title h1 {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
}

.intro__title span {
    border-bottom: 4px solid var(--waterGreen);
}

.intro__descr p {
    height: 78px;
    line-height: 26px;

    color: var(--lightGrey);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    vertical-align: text-top;

    /* border: 2px solid green; */
}

.intro__descr .intro__button {
    background-color: transparent;
    border: none;
    line-height: 46px;
    letter-spacing: 2.29px !important;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    border-bottom: 2px solid var(--waterGreen);
    font-kerning: normal;
    margin-top: 24px;
}

/* Main */

.skills {
    width: 91.46666666666667%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12.12846598843008%;
    margin: 80px auto 0px;
    gap: 24px;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
    padding: 40px 0px;
}
.skills__card {
    width: 100%;
    text-align: center;
    font-weight: 200;
}

.skills__card h2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1px;
}

/* Section Projectos */
/* Adicionar estilizaçao para o projects title */

.section-projects {
    width: 92%;
    margin: 80px auto 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.projects__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    margin: 80px 16px 40px;
    width: 343px;
}
.projects__project {
    margin-bottom: 40px;
}

.projects__project img {
    /* object-fit: contain; */
    max-width: 100%;
    background-position: center;
    /* background-repeat: no-repeat; */
}

.projects__title h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1.14px;
}

.projects__title a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    line-height: 38px;
    letter-spacing: 2.29px;
    border-bottom: 2px solid var(--waterGreen);
    color: var(--white);
}
.project__skills {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    /* border: 2px solid white; */
    width: 100%;
}
.skills__skill {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    gap: 18px;
    margin-top: 7px;
    line-height: 28px;
    color: var(--lightGrey);
    /* border: 2px solid blue; */
}
.skills__links {
    display: flex;
    gap: 30px;
    /* border: 2px solid red; */
    width: 100%;
    margin-top: 20px;
    /* border: 2px solid orange; */
}
.skills__links a {
    text-decoration: none;
    font-weight: 600;
    color: var(--white);
    border-bottom: 2px solid var(--waterGreen);
    line-height: 38px;
    letter-spacing: 2.29px;
}

.contact {
    margin-top: 80px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkGrey);
}

.contact h2 {
    font-size: 40px;
    letter-spacing: -1.14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact p {
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    max-width: 343px;
    color: var(--lightGrey);
    font-weight: 400;
}

.contact-form {
    margin-top: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 32px;
    border-bottom: 1px solid var(--white);
    margin-bottom: 39px;
    letter-spacing: -0.22px;
    font-weight: 500;
    line-height: 26px;
}

.contact-form input {
    background-color: transparent;
    border: none;
    width: 343px;
    height: 43px;
    padding: 0 0 16px 24px;
    outline: none;
    border-bottom: 1px solid var(--white);
    box-shadow: none;
    color: var(--white);
}

.contact-form input::placeholder {
    line-height: 2px;
    letter-spacing: -0.22px;
}

.contact-form textarea {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--white);
    box-shadow: none;
    font-size: 16px;
    resize: none;
    border-bottom: 1px solid var(--white);
    height: 107px;
    overflow-y: hidden;
}

.contact-form textarea::placeholder {
    line-height: 36px;
    letter-spacing: -0.22px;
    padding: 0 0 0px 24px;
}

.form-button {
    display: flex;
    justify-content: flex-end;
}

#contact-rings {
    position: absolute;
    left: -343px;
    bottom: 98px;
}
#button-send {
    border: none;
    background-color: transparent;
    height: 38px;
    color: var(--white);
    border-bottom: 2px solid var(--waterGreen);
    width: 144px;
    line-height: 36px;
    letter-spacing: 3.4px;
    font-weight: bold;
    font-family: "Space Grotesk";
    vertical-align: text-top;
    margin-bottom: 87px;
}

.footer {
    display: flex;
    background-color: var(--darkGrey);
    justify-content: center;
    padding: 39px 95px 60px 95px;
}

.footer__logo {
    background-color: var(--darkGrey);

    letter-spacing: -0.33px;
    list-style: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

@media (min-width: 768px) {
    .break-lines {
        display: block;
    }

    .header {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
        position: relative;
    }
    .header__logo {
        width: 50%;
        /* border: 2px solid red; */
    }

    .header__img {
        height: 600px;
        width: 100%;
        background: url("../assets/images/image-profile-tablet.webp");
        background-position: center;
        background-size: cover;
        z-index: -1;
        position: relative;
    }
    .header__nav {
        width: 92%;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 30px 30px 0 30px;
    }

    .nav__list {
        margin-top: 0;
    }

    .header__intro {
        width: 445px;
        height: 449px;
        /* background-color: purple; */
        text-align: left;
        margin: 151px 0px 0px 0px;
    }

    .intro__title {
        width: 450px;
        text-align: justify;
        position: relative;
    }
    .intro__title h1 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
        position: absolute;
        top: 0;
        left: 32px;
        /* z-index: 1; */
        width: 443px;
    }

    .intro__descr {
        height: 156px;
        color: var(--lightGrey);
        position: absolute;
        width: 445px;
        bottom: 15px;
        /* background-color: purple; */
        left: 32px;
    }

    .intro__descr p {
        text-align: left;
        line-height: 28px;
        font-weight: 400;
        width: 100%;
        height: 84px;
    }

    .skills {
        display: grid;
        grid-template-rows: repeat(2, 98px);
        grid-template-columns: repeat(2, 345px);
        grid-gap: 52px 7px;
        margin: 59px 0px 100px 32px;
        border-bottom: none;
    }

    .skills__card {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 14px;
        /* border: 1px solid red; */
    }

    .projects__title {
        width: 91.93%;
        height: 72px;
        /* background-color: purple; */
        justify-content: space-between;
        align-items: center;
    }

    .projects__title h2 {
        font-size: 72px;
        font-weight: bold;
        line-height: 72px;
    }

    .projects__title a {
        line-height: 26px;
        letter-spacing: 2.29px;
        padding-bottom: 10px;
    }

    .section-projects {
        width: 92.2%;
        display: grid;
        grid-template-columns: 342px 342px;
        grid-template-rows: 398px;
        grid-gap: 60px 24px;
    }
.contact {
    height: 755px;
}

    .contact-form {
        width: 445px;
        height: 327px;
        border: none;
        margin-bottom: 92px;
    }

    .contact h2 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.05px;
        margin: 60px 20px;
    }

    .contact p {
        max-width: 445px;
        height: 84px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
    }

    .contact-form input {
        width: 445px;
        height: 43px;
    }

    #button-send {
        background-color: transparent;
        color: var(--white);
        border-bottom: 2px solid var(--waterGreen);
        width: auto;
        line-height: 26px;
        letter-spacing: 2.29px;
        font-weight: bold;
        font-family: "Space Grotesk";
         margin: 32px 0 92px;
    }

    /* Caixa do Footer */
    .footer {
        
        
       padding: 0 0 40px 0;
       justify-content: center;
      

    }
    .footer__logo{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 92.3%;
        height: 63px;
        border-top: 1px solid var(--lightGrey);
        
       
    }

